.carousel-users-widget{margin-bottom: 30px}
.carousel-users-widget .widget-title{
    border-left: 5px solid #39305f;
    color: #fff;
    text-transform: uppercase;
    padding-left: 10px;
    font-family: "Roboto Condensed";
    margin: 0 0 15px;
    font-weight: bold
}
.carousel-users-widget .owl-carousel .owl-stage-outer{padding-bottom: 5px}
.user_list .item{margin-bottom: 30px}
.carousel-users-widget .item, .user_list .item {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    -webkit-box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.5)
}
.carousel-users-widget .item:hover, .user_list .item:hover{
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5)
}
.carousel-users-widget .item .avatar, .user_list .item .avatar{
    margin-bottom: 10px;
    display: block;
    text-align: center
}
.carousel-users-widget .item .avatar .avatar-bg, .user_list .item .avatar .avatar-bg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    text-align: center;
    margin: auto
}
.carousel-users-widget .item .avatar .avatar-first-char, .user_list .item .avatar .avatar-first-char{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
    color: #fff;
    line-height: 160px
}
.carousel-users-widget .item .avatar img, .user_list .item .avatar img{
    width: auto;
    margin: auto;
    border-radius: 50%
}
.carousel-users-widget .item h3, .user_list .item h3{
    color: #333;
    font-size: 18px;
    text-align: center
}
.carousel-users-widget .item p, .user_list .item p{
    margin-bottom: 3px
}
.carousel-users-widget .item .xem-them, .user_list .item .xem-them{
    color: #333;
    border: 1px solid #333;
    padding: 8px;
    margin-top: 15px;
    text-transform: uppercase;
    text-align: center;
    display: block
}
.carousel-users-widget .item .xem-them:hover, .user_list .item .xem-them:hover{
    background: #39305f;
    border-color: #39305f
}
.carousel-users-widget .owl-controls .owl-nav{
    position: absolute;
    top: -46px;
    right: 0
}
.carousel-users-widget .owl-controls .owl-prev, .carousel-users-widget .owl-controls .owl-next{
    color: #fff;
    float: left;
    width: 22px;
    height: 32px;
    line-height: 32px;
    font-size: 32px;
    text-align: center
}
.carousel-users-widget .owl-controls .owl-next{text-align: right}