.carousel-projects-widget{margin-bottom: 30px}
.carousel-projects-widget .widget-title{
    border-left: 5px solid #39305f;
    color: #fff;
    text-transform: uppercase;
    padding-left: 10px;
    font-family: "Roboto Condensed";
    margin: 0 0 15px;
    font-weight: bold
}
.carousel-projects-widget .owl-carousel .owl-stage-outer{padding-bottom: 5px}
.carousel-projects-widget .entry{
    background: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.5)
}
.carousel-projects-widget .entry:hover{
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5)
}
.carousel-projects-widget .entry .thumbnail{
    padding: 0;
    margin-bottom: 15px;
    border: none;
    border-radius: 0
}
.carousel-projects-widget .entry .entry-title{
    text-transform: uppercase;
    margin: 0 15px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.4
}
.carousel-projects-widget .entry .entry-title a{display: block}
.carousel-projects-widget .entry .location{
    padding: 0 15px
}
.carousel-projects-widget .entry .description{
    padding: 0 15px 15px
}
.carousel-projects-widget .owl-controls .owl-nav{
    position: absolute;
    top: -46px;
    right: 0
}
.carousel-projects-widget .owl-controls .owl-prev, .carousel-projects-widget .owl-controls .owl-next{
    color: #fff;
    float: left;
    width: 22px;
    height: 32px;
    line-height: 32px;
    font-size: 32px;
    text-align: center
}
.carousel-projects-widget .owl-controls .owl-next{text-align: right}