.carousel-products-widget-2{margin-bottom: 30px}
.carousel-products-widget-2 .widget-title{
    border-left: 5px solid #6a86b6;
    color: #333;
    text-transform: uppercase;
    padding-left: 10px;
    font-family: "Roboto Condensed";
    margin: 0 0 15px;
    font-weight: bold
}
.carousel-products-widget-2 .owl-carousel .owl-stage-outer{padding-bottom: 5px}
.carousel-products-widget-2 .item{
    background: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.5)
}
.carousel-products-widget-2 .item:hover{
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5)
}
.carousel-products-widget-2 .item .thumbnail{
    padding: 0;
    border-radius: 0;
    margin: 0;
    position: relative
}
.carousel-products-widget-2 .item .thumbnail:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.6);
    opacity: 0;
    z-index: 1;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}
.carousel-products-widget-2 .item .thumbnail:hover:after{
    border: none;
    opacity: 1
}
.carousel-products-widget-2 .item .tools {
    position: absolute;
    top: 20%;
    left: 30%;
    color: #fff;
    font-size: 50px;
    z-index: 2;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}
.carousel-products-widget-2 .item .tools .save-post{margin-right: 10px}
.carousel-products-widget-2 .item .thumbnail:hover .tools {
    opacity: 1
}
.carousel-products-widget-2 .item .row-pro{
    padding: 15px
}
.carousel-products-widget-2 .item .row-pro h4{
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: bold
}
.carousel-products-widget-2 .item .row-pro h4 a {
    color: #006092;
    display: block
}
.carousel-products-widget-2 .item.vip .row-pro h4 a {
    color: #e41b23
}
.carousel-products-widget-2 .item .row-pro .tag-pro {
    margin-bottom: 8px;
    text-transform: uppercase
}
.carousel-products-widget-2 .item .row-pro .tag-pro a:hover{
    text-decoration: underline
}
.carousel-products-widget-2 .item .location {
    background:url("../../assets/images/icon-location.png") no-repeat 0 2px;
    padding: 0 0 0 20px;
    margin-bottom: 5px
}
.carousel-products-widget-2 .item .info-pro{
    font-size: 12px
}
.carousel-products-widget-2 .item .info-pro > span{margin-right: 10px}
.carousel-products-widget-2 .item .info-pro .fa{
    color: #999;
    margin-right: 3px
}
.carousel-products-widget-2 .item .info-pro .direction .fa{margin-right: 5px}
.carousel-products-widget-2 .item .info-pro .area {
    background:url("../../assets/images/icon-area.png") no-repeat;
    line-height: 24px;
    padding: 0 0 0 25px;
}
.carousel-products-widget-2 .item .row-pro .date {
    color: #959595;
    font-size: 12px;
    margin-bottom: 5px
}
.carousel-products-widget-2 .item .row-pro .date .glyphicon{
    color: #959595;
    margin-right: 5px
}
.carousel-products-widget-2 .item .share-pro {
    position: absolute;
    bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    width: 100%;
    z-index: 2
}
.carousel-products-widget-2 .item .price {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    background: #39305f;
    display: inline-block;
    padding: 6px 10px;
    min-width: 150px;
    text-align: center
}
.carousel-products-widget-2 .item.vip .price {background: #e41b23}
.carousel-products-widget-2 .owl-controls .owl-nav{
    position: absolute;
    top: -46px;
    right: 0
}
.carousel-products-widget-2 .owl-controls .owl-prev, .carousel-products-widget-2 .owl-controls .owl-next{
    float: left;
    width: 22px;
    height: 32px;
    line-height: 32px;
    font-size: 32px;
    text-align: center
}
.carousel-products-widget-2 .owl-controls .owl-next{text-align: right}