.featured-posts-widget{
    margin-bottom: 30px
}
.featured-posts-widget .widget-title{
    border-left: 5px solid #6a86b6;
    color: #333;
    text-transform: uppercase;
    padding-left: 10px;
    font-family: "Roboto Condensed";
    margin: 0 0 15px;
    font-weight: bold
}
.featured-posts-widget .entry{
    margin-bottom: 30px;
    border: 1px solid #ddd;
    background: #fff;
    -webkit-box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.5)
}
.featured-posts-widget .entry:hover{
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5)
}
.featured-posts-widget .entry .thumbnail{
    padding: 0;
    margin-bottom: 0;
    border: none;
    border-radius: 0
}
.featured-posts-widget .entry .entry-title{
    text-transform: uppercase;
    margin: 0 15px;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    min-height: 53px
}
.featured-posts-widget .entry .entry-meta{
    padding: 10px 15px 5px;
    font-size: 13px;
    color: #666
}
.featured-posts-widget .entry .description{
    padding: 0 15px 15px;
    text-align: justify
}

@media (max-width: 425px){
    .featured-posts-widget .col-xs-6{width: 100%}
}