.popular-projects-widget .entry {
    margin-bottom: 30px;
    border: 1px solid #ddd;
    background: #fff;
    -webkit-box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.5)
}
.popular-projects-widget .entry:hover{
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5)
}
.popular-projects-widget .entry .thumbnail{
    padding: 0;
    margin-bottom: 15px;
    border: none;
    border-radius: 0
}
.popular-projects-widget .entry .entry-title{
    text-transform: uppercase;
    margin: 0 15px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.4
}
.popular-projects-widget .entry .entry-title a{display: block}
.popular-projects-widget .entry .location{
    padding: 0 15px
}
.popular-projects-widget .entry .description{
    padding: 0 15px 15px
}