.project-list-widget{
    margin-bottom: 30px
}
.project-list-widget .widget-title{
    border-left: 5px solid #6a86b6;
    color: #333;
    text-transform: uppercase;
    padding-left: 10px;
    font-family: "Roboto Condensed";
    margin: 0 0 15px;
    font-weight: bold
}
.project-list-widget .widget-content{
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.5)
}
.project-list-widget .entry{
    overflow: hidden;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #ddd
}
.project-list-widget .entry:last-child{
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0
}
.project-list-widget .entry .thumbnail{
    padding: 0;
    margin-bottom: 0;
    border: none;
    border-radius: 0
}
.project-list-widget .entry .entry-title{
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: bold
}

@media (max-width: 425px){
    .project-list-widget .col-xs-6{width: 100%}
}