.service-item-widget {
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    background: #fff;
    -webkit-box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.5)
}
.service-item-widget:hover{
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5)
}
.service-item-widget img{
    margin-bottom: 15px
}
.service-item-widget .service-title{
    text-transform: uppercase;
    font-size: 20px
}
.service-item-widget .service-description{
    padding: 0 15px 15px
}
.service-item-widget .btn{
    background: #6a86b6;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border-radius: 0;
    padding: 10px;
    display: block;
}
.service-item-widget .btn:hover{
    background: #39305f
}